body {
    font-family: 'Open Sans', sans-serif;
    margin: 3% 6% 3% 6%;
    background: rgb(246, 248, 250)
}

p {
    padding: 10px;
    border-left: 6px solid rgb(77, 133, 255);
    background-color: rgb(221, 222, 255);
  }

table {
    margin: 3% 10% 3% 10%;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: rgb(239, 240, 252);}